input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}


fieldset{
    width: 400px;
    height: 200px;
    margin-bottom: 30px;

    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

label{
    display: inline-block; 
    margin-bottom: 40px;
  }

textarea{
    vertical-align: middle;
}

table{
  margin-left: 30px;
  margin-right: auto;
  margin-top:10px;
}
