<!-- * * * * * * * *Title * * * * * * * * * * * * * -->
<h1>Lab 7</h1>
<h2>Інформація про організацію</h2>
<div>
  <form class="org-form" [formGroup]="orgForm" (ngSubmit)="addOrg()">
    <!-- * * * * * * * * Загальна інф * * * * * * * * * * * * * * * * * -->
    <div class="general_inf">
      <div class="org_name">
        <label for="org_name" class="input-label">Назва* </label>
        <input
          type="text"
          class="input_class"
          id="org_name"
          name="org_name"
          autocomplete="off"
          formControlName="org_name"
          [(ngModel)]="org.org_name"
          required
        />
      </div>

      <div class="city">
        <label for="city">Місто* </label>
        <input
          type="text"
          class="input_class"
          id="city"
          name="city"
          autocomplete="off"
          formControlName="city"
          [(ngModel)]="org.city"
          required
        />
      </div>

      <div class="address">
        <label for="address">Адреса* </label>
        <input
          type="text"
          id="address"
          name="address"
          value="org.address"
          autocomplete="off"
          formControlName="address"
          [(ngModel)]="org.address"
          required
        />
      </div>
    </div>
    <!-- * * * * * * * * Контактна інф * * * * * * * * * * * * * * * * * -->
    <div class="contact_inf">
      <div class="contact_person">
        <label for="contact_person">Контактна особа* </label>
        <input
          type="text"
          id="contact_person"
          name="contact_person"
          value="org.contact_person"
          autocomplete="off"
          formControlName="contact_person"
          [(ngModel)]="org.contact_person"
          required
        />
      </div>

      <div class="phone">
        <label for="phone">Телефон* </label>
        <input
          type="text"
          id="phone"
          name="phone"
          value="org.phone"
          autocomplete="off"
          formControlName="phone"
          [(ngModel)]="org.phone"
          required
          pattern="[0-9]{10}"
        />
      </div>

      <div class="email">
        <label for="email">E-mail* </label>
        <input
          type="email"
          id="email"
          name="email"
          value="org.email"
          autocomplete="off"
          formControlName="email"
          [(ngModel)]="org.email"
          required
        />
      </div>
    </div>
    <!-- * * * * * * * * інф про об'єкт * * * * * * * * * * * * * * * * * -->
    <div class="obj_inf">
      <div class="obj_name">
        <label for="obj_name">Назва об'єкту* </label>
        <input
          type="text"
          id="obj_name"
          name="obj_name"
          value="org.obj_name"
          autocomplete="off"
          formControlName="obj_name"
          [(ngModel)]="org.obj_name"
        />
      </div>

      <div class="usage">
        <label for="usage">Використання* </label>
        <select
          class="select_class"
          name="usage"
          formControlName="usage"
          [(ngModel)]="org.usage"
        >
          <option class="option" *ngFor="let usage of usage" [value]="usage">
            {{ usage }}
          </option>
        </select>
      </div>
    </div>
    <button class="submit-btn" type="submit">Submit</button>
  </form>
</div>
<router-outlet></router-outlet>
