table {
  /* box-shadow: 1px 1px 1px 1px #999;  */
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.tr_data:hover {
  background-color: rgb(255, 0, 0);
}

h1 {
  text-align: center;
}

.starttable {
  padding-bottom: 50px;
}
